<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">
<head>
    <meta charset="utf-8"/>
    <title>Books</title>
</head>
<body>
<h1>Klasse BooksView</h1>

<ol>
    <li><h2>Beispiel Bereitstellung statischer Ressourcen</h2>
        <ul>
            <li>
                <h4>Einbindung in andere Datei, File mit relativem oder absolutem Pfad</h4>
                <img alt="hier sollte ein bild sein" src="files/kom_Polo_Armdruck-01.png"/>
            </li>

            <li><h4>URL für direkten Zugriff über Browser</h4>
                <a href="http://localhost:8080/files/kom_Polo_Armdruck-01.png">http://localhost:8080/files/kom_Polo_Armdruck-01.png</a>
            </li>
        </ul>
    </li>
</ol>
</body>